In [162]:
#import dependencies
import json
import pandas as pd
import numpy as np

In [163]:
#create file direcotry
file_dir = '/Users/devingreenzang/desktop/challenges/project_x/NBA/'

In [164]:
#import the csv files
shot_log = pd.read_csv(f'{file_dir}shot_logs.csv')
stats = pd.read_csv(f'{file_dir}players_stats.csv')

In [165]:
#list the column names
#shot_log.columns.to_list()

In [166]:
#clean the data
#stats.columns.to_list()

In [168]:
# Example: MAR 04, 2015 - CHA @ BKN
# Split MATCHUP on '-' (MAR 04, 2015) - CHA @ BKN
# Store first part (MAR 04,2015 ) in new column shots_df['DATE']
# Convert to date:
# shots_df['DATE'] = pd.to_datetime(shots_df['DATE'])


# Once you have DATE and TIME (from GAME_CLOCK column), concatenate the two
# Convert the resulting column into datetime by using pd.to_datetime

In [180]:
#import the csv files
shot_log = pd.read_csv(f'{file_dir}shot_logs.csv')
stats = pd.read_csv(f'{file_dir}players_stats.csv')

#show cleaned stats data
stats.columns.to_list()
#turn stats into a dataframe
stats_df = pd.DataFrame(stats)
shots_df = pd.DataFrame(shots)

#clean stats
stats = stats.drop(columns=['Birth_Place','Birthdate','Collage', 'BMI' ])

shots = shot_log.drop(columns = ['GAME_ID',
 #'MATCHUP',
 'LOCATION',
 'W',
 'FINAL_MARGIN',
 'SHOT_CLOCK',
 'DRIBBLES',
 'TOUCH_TIME',
 'PTS_TYPE',
 'FGM',
 'PTS',
 'player_name'])

In [181]:
# Extracting date from MATCHUP column
shots_df['DATE'] = shots_df['MATCHUP'].str.split('-', expand = True)[0]

# Converting to datetime object
shots_df['DATE'] = pd.to_datetime(shots_df['DATE'])

# Turning gametime into datetime object
shots_df['GAME_CLOCK'] = pd.to_datetime(shots_df['GAME_CLOCK'], format = '%M:%S').dt.time 

# Adding date and time columns together
shots_df['TIMESTAMP'] = shots_df['DATE'].astype(str) + ' ' + shots_df['GAME_CLOCK'].astype(str)

# Converting to datetime object
shots_df['TIMESTAMP'] = pd.to_datetime(shots_df['TIMESTAMP'])

In [188]:
#make a shot list showing the player id column for all shots taken in period 4 in the last two minutes of regulation
shots_df[(shots_df['PERIOD'] == 4) & (shots_df['TIMESTAMP'].dt.strftime('%H:%M:%S').between('00:10:00','00:12:00'))]
#shots_df.head()

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_id,DATE,TIMESTAMP
6,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,203148,2015-03-04,2015-03-04 00:10:15
11,"MAR 03, 2015 - CHA vs. LAL",3,4,00:11:32,14.6,made,"Lin, Jeremy",202391,1.8,203148,2015-03-03,2015-03-03 00:11:32
17,"FEB 27, 2015 - CHA @ BOS",4,4,00:10:55,25.6,missed,"Crowder, Jae",203109,5.1,203148,2015-02-27,2015-02-27 00:10:55
18,"FEB 27, 2015 - CHA @ BOS",5,4,00:10:29,24.2,made,"Thomas, Isaiah",202738,11.1,203148,2015-02-27,2015-02-27 00:10:29
25,"FEB 25, 2015 - CHA @ CHI",7,4,00:10:13,24.6,made,"Noah, Joakim",201149,6.0,203148,2015-02-25,2015-02-25 00:10:13
...,...,...,...,...,...,...,...,...,...,...,...,...
128048,"NOV 05, 2014 - BKN vs. MIN",6,4,00:11:01,20.2,made,"Brewer, Corey",201147,11.1,101127,2014-11-05,2014-11-05 00:11:01
128055,"NOV 03, 2014 - BKN vs. OKC",6,4,00:11:22,5.1,missed,"Jackson, Reggie",202704,2.1,101127,2014-11-03,2014-11-03 00:11:22
128058,"NOV 01, 2014 - BKN @ DET",3,4,00:10:57,18.2,made,"Augustin, D.J.",201571,1.1,101127,2014-11-01,2014-11-01 00:10:57
128065,"OCT 29, 2014 - BKN @ BOS",6,4,00:11:28,0.6,made,"Turner, Evan",202323,0.6,101127,2014-10-29,2014-10-29 00:11:28
128066,"OCT 29, 2014 - BKN @ BOS",7,4,00:11:10,16.9,made,"Thornton, Marcus",201977,4.2,101127,2014-10-29,2014-10-29 00:11:10

In [28]:
#everything = pd.concat([stats, shot_log], ignore_index=True, sort=False)

In [26]:
#everything.head()

In [34]:
#print(everything)
#everything_df = pd.DataFrame(everything)

In [38]:
#everything_df.loc[(everything_df["PERIOD"]== "4") & (everything_df["GAME_CLOCK"]>= '10:00') , "player_id"]

Series([], Name: player_id, dtype: float64)

In [41]:
#everything_df.tail(25)

In [28]:
print(shots_df)

        SHOT_NUMBER  PERIOD GAME_CLOCK  SHOT_DIST SHOT_RESULT  \
0                 1       1       1:09        7.7        made
1                 2       1       0:14       28.2      missed
2                 3       1       0:00       10.1      missed
3                 4       2      11:47       17.2      missed
4                 5       2      10:34        3.7      missed
...             ...     ...        ...        ...         ...
128064            5       3       1:52        8.7      missed
128065            6       4      11:28        0.6        made
128066            7       4      11:10       16.9        made
128067            8       4       2:37       18.3      missed
128068            9       4       0:12        5.1        made

         CLOSEST_DEFENDER  CLOSEST_DEFENDER_PLAYER_ID  CLOSE_DEF_DIST  \
0          Anderson, Alan                      101187             1.3
1       Bogdanovic, Bojan                      202711             6.1
2       Bogdanovic, Bojan                      202711             0.9
3           Brown, Markel                      203900             3.4
4         Young, Thaddeus                      201152             1.1
...                   ...                         ...             ...
128064      Smart, Marcus                      203935             0.8
128065       Turner, Evan                      202323             0.6
128066   Thornton, Marcus                      201977             4.2
128067     Bradley, Avery                      202340             3.0
128068     Bradley, Avery                      202340             2.3

        player_id
0          203148
1          203148
2          203148
3          203148
4          203148
...           ...
128064     101127
128065     101127
128066     101127
128067     101127
128068     101127

[128069 rows x 9 columns]