In [1]:
#import dependencies
import json
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
#create file direcotry
file_dir = '/Users/devingreenzang/desktop/challenges/project_x/NBA/'

In [3]:
#import the csv files
shot_log = pd.read_csv(f'{file_dir}shot_logs.csv')
stats = pd.read_csv(f'{file_dir}players_stats.csv')

In [4]:
#list the column names
#shot_log.columns.to_list()

In [5]:
#clean the data
#stats.columns.to_list()

In [6]:
# Example: MAR 04, 2015 - CHA @ BKN
# Split MATCHUP on '-' (MAR 04, 2015) - CHA @ BKN
# Store first part (MAR 04,2015 ) in new column shots_df['DATE']
# Convert to date:
# shots_df['DATE'] = pd.to_datetime(shots_df['DATE'])


# Once you have DATE and TIME (from GAME_CLOCK column), concatenate the two
# Convert the resulting column into datetime by using pd.to_datetime

In [7]:
#import the csv files
shot_log = pd.read_csv(f'{file_dir}shot_logs.csv')
stats = pd.read_csv(f'{file_dir}players_stats.csv')

#show cleaned stats data
stats.columns.to_list()
#turn stats into a dataframe
stats_df = pd.DataFrame(stats)
shots_df = pd.DataFrame(shot_log)

#clean stats
stats = stats.drop(columns=['Birth_Place','Birthdate','Collage', 'BMI' ])

shots = shots_df.drop(columns = ['GAME_ID',
 #'MATCHUP',
 'LOCATION',
 'W',
 'FINAL_MARGIN',
 'SHOT_CLOCK',
 'DRIBBLES',
 'TOUCH_TIME',
 'PTS_TYPE',
 'FGM',
 'PTS'])

In [8]:
# Extracting date from MATCHUP column
shots['DATE'] = shots['MATCHUP'].str.split('-', expand = True)[0]

# Converting to datetime object
shots['DATE'] = pd.to_datetime(shots['DATE'])

# Turning gametime into datetime object
shots['GAME_CLOCK'] = pd.to_datetime(shots['GAME_CLOCK'], format = '%M:%S').dt.time 

# Adding date and time columns together
shots['TIMESTAMP'] = shots['DATE'].astype(str) + ' ' + shots['GAME_CLOCK'].astype(str)

# Converting to datetime object
shots['TIMESTAMP'] = pd.to_datetime(shots['TIMESTAMP'])

In [9]:
#make a shot list showing the player id column for all shots taken in period 4 in the last two minutes of regulation
fourth_data = shots[(shots['PERIOD'] == 4) & (shots['TIMESTAMP'].dt.strftime('%H:%M:%S').between('00:10:00','00:12:00'))]
fourth_data
#shots_df.head()

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,player_id,DATE,TIMESTAMP
6,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,brian roberts,203148,2015-03-04,2015-03-04 00:10:15
11,"MAR 03, 2015 - CHA vs. LAL",3,4,00:11:32,14.6,made,"Lin, Jeremy",202391,1.8,brian roberts,203148,2015-03-03,2015-03-03 00:11:32
17,"FEB 27, 2015 - CHA @ BOS",4,4,00:10:55,25.6,missed,"Crowder, Jae",203109,5.1,brian roberts,203148,2015-02-27,2015-02-27 00:10:55
18,"FEB 27, 2015 - CHA @ BOS",5,4,00:10:29,24.2,made,"Thomas, Isaiah",202738,11.1,brian roberts,203148,2015-02-27,2015-02-27 00:10:29
25,"FEB 25, 2015 - CHA @ CHI",7,4,00:10:13,24.6,made,"Noah, Joakim",201149,6.0,brian roberts,203148,2015-02-25,2015-02-25 00:10:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128048,"NOV 05, 2014 - BKN vs. MIN",6,4,00:11:01,20.2,made,"Brewer, Corey",201147,11.1,jarrett jack,101127,2014-11-05,2014-11-05 00:11:01
128055,"NOV 03, 2014 - BKN vs. OKC",6,4,00:11:22,5.1,missed,"Jackson, Reggie",202704,2.1,jarrett jack,101127,2014-11-03,2014-11-03 00:11:22
128058,"NOV 01, 2014 - BKN @ DET",3,4,00:10:57,18.2,made,"Augustin, D.J.",201571,1.1,jarrett jack,101127,2014-11-01,2014-11-01 00:10:57
128065,"OCT 29, 2014 - BKN @ BOS",6,4,00:11:28,0.6,made,"Turner, Evan",202323,0.6,jarrett jack,101127,2014-10-29,2014-10-29 00:11:28
128066,"OCT 29, 2014 - BKN @ BOS",7,4,00:11:10,16.9,made,"Thornton, Marcus",201977,4.2,jarrett jack,101127,2014-10-29,2014-10-29 00:11:10

In [10]:
fourth_data.to_json(r'{file_dir}\fourthqtr.json')

In [11]:
#display(fourth_data)

In [12]:
#filter the data fram by defender distance
fourth_data.sort_values(by=['CLOSE_DEF_DIST'])

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,player_id,DATE,TIMESTAMP
72032,"MAR 01, 2015 - PHI @ IND",2,4,00:11:36,4.3,missed,"Scola, Luis",2449,0.0,jerami grant,203924,2015-03-01,2015-03-01 00:11:36
102588,"DEC 07, 2014 - OKC @ DET",2,4,00:10:14,1.0,missed,"Jerebko, Jonas",201973,0.0,nick collison,2555,2014-12-07,2014-12-07 00:10:14
48584,"NOV 15, 2014 - IND @ CHI",7,4,00:10:28,3.5,missed,"Gibson, Taj",201959,0.0,chris copeland,203142,2014-11-15,2014-11-15 00:10:28
99514,"DEC 11, 2014 - SAC vs. HOU",8,4,00:11:47,2.3,made,"Harden, James",201935,0.0,derrick williams,202682,2014-12-11,2014-12-11 00:11:47
98631,"NOV 26, 2014 - SAC @ HOU",3,4,00:11:14,1.2,missed,"Papanikolaou, Kostas",203123,0.0,carl landry,201171,2014-11-26,2014-11-26 00:11:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35214,"FEB 20, 2015 - TOR @ ATL",7,4,00:10:48,22.6,made,"Schroder, Dennis",203471,20.3,patrick patterson,202335,2015-02-20,2015-02-20 00:10:48
113591,"FEB 07, 2015 - CHI @ NOP",14,4,00:10:41,3.8,made,"Fredette, Jimmer",202690,22.7,jimmy butler,202710,2015-02-07,2015-02-07 00:10:41
78633,"OCT 31, 2014 - MIL vs. PHI",5,4,00:11:18,2.9,made,"McDaniels, KJ",203909,28.0,jerryd bayless,201573,2014-10-31,2014-10-31 00:11:18
114507,"DEC 12, 2014 - CHI vs. POR",9,4,00:10:02,4.6,made,"Matthews, Wesley",202083,36.0,nikola mirotic,202703,2014-12-12,2014-12-12 00:10:02
80109,"MAR 04, 2015 - MEM @ HOU",7,4,00:10:23,1.9,made,"Ariza, Trevor",2772,46.8,tony allen,2754,2015-03-04,2015-03-04 00:10:23

In [13]:
shots_made = fourth_data[(fourth_data['SHOT_RESULT'] == 'made')]
shots_missed = fourth_data[(fourth_data['SHOT_RESULT'] == 'missed')]
#shots_made.count 1993/ 4539 rows left 44% of shots made in 4th qtr with two minutes left
#shots_missed.count 2546 /4539 rows 56% of shots were missed in the 4th qtr with two minutes left

In [14]:
#the average distance of the closest defender on the shot being made
shots_made['CLOSE_DEF_DIST'].mean()

4.124786753637739

In [15]:
#the average distance of the closest defender on the shot missed
shots_missed['CLOSE_DEF_DIST'].mean()

4.1143362136685075

In [16]:
#display(fourth_data)
#as we can see the shot distance of the closes defender is negligible 
#now we have to include the distance and the player heights to our analysis

In [17]:
#merging the stats_df to our fourth_data dataframe
#stats_df.dtypes

In [18]:
fourth_data['player_name'] = fourth_data['player_name'].str.title()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
#merge data frames so you can get the heights of players, also need CLOSEST_DEFENDER ON Name
merged_df=pd.merge(fourth_data, stats_df, how='left', left_on='player_name', right_on='Name')
display(merged_df)

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
1,"MAR 03, 2015 - CHA vs. LAL",3,4,00:11:32,14.6,made,"Lin, Jeremy",202391,1.8,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
2,"FEB 27, 2015 - CHA @ BOS",4,4,00:10:55,25.6,missed,"Crowder, Jae",203109,5.1,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
3,"FEB 27, 2015 - CHA @ BOS",5,4,00:10:29,24.2,made,"Thomas, Isaiah",202738,11.1,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
4,"FEB 25, 2015 - CHA @ CHI",7,4,00:10:13,24.6,made,"Noah, Joakim",201149,6.0,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4534,"NOV 05, 2014 - BKN vs. MIN",6,4,00:11:01,20.2,made,"Brewer, Corey",201147,11.1,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000
4535,"NOV 03, 2014 - BKN vs. OKC",6,4,00:11:22,5.1,missed,"Jackson, Reggie",202704,2.1,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000
4536,"NOV 01, 2014 - BKN @ DET",3,4,00:10:57,18.2,made,"Augustin, D.J.",201571,1.1,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000
4537,"OCT 29, 2014 - BKN @ BOS",6,4,00:11:28,0.6,made,"Turner, Evan",202323,0.6,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000
4538,"OCT 29, 2014 - BKN @ BOS",7,4,00:11:10,16.9,made,"Thornton, Marcus",201977,4.2,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000

In [91]:
merged_df.rename({'height':'Shooter Height'}, inplace = True)

In [92]:
merged_df['CD Last Name'] = merged_df['CLOSEST_DEFENDER'].str.split(',', expand=True)[0]
merged_df['CD First Name'] = merged_df['CLOSEST_DEFENDER'].str.split(',', expand=True)[1]

In [93]:
# Reformatting closest defender name so it matches name in stats df
merged_df['CD NAME'] = merged_df['CD First Name'].str.lstrip() + ' ' + merged_df['CD Last Name']
merged_df['CD NAME']

0          Jarrett Jack
1            Jeremy Lin
2           Jae Crowder
3         Isaiah Thomas
4           Joakim Noah
             ...
4534       Corey Brewer
4535     Reggie Jackson
4536      D.J. Augustin
4537        Evan Turner
4538    Marcus Thornton
Name: CD NAME, Length: 4539, dtype: object

In [86]:
stats_df[stats_df['Name'] == 'John Wall']['Height']

243   NaN
Name: Height, dtype: float64

In [94]:
#merged_df['Closest Defender Height'] = 

merged_df2 = merged_df.merge(stats_df[['Name', 'Height']], left_on = 'CD NAME', right_on = 'Name', suffixes= [' (Shooter)', ' (CD)'])

#merged_df2[['player_name', 'CD NAME', 'Height']]

merged_df2

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,...,Birthdate,Collage,Experience,Height (Shooter),Pos,Team,Weight,BMI,Name (CD),Height (CD)
0,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,Brian Roberts,...,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991,Jarrett Jack,187.5
1,"NOV 13, 2014 - GSW vs. BKN",7,4,00:11:32,4.7,made,"Jack, Jarrett",101127,2.5,Leandro Barbosa,...,"November 28, 1982",NaN,11,187.5,SG,GSW,87.30,24.832000,Jarrett Jack,187.5
2,"DEC 05, 2014 - ATL @ BKN",10,4,00:10:37,6.5,made,"Jack, Jarrett",101127,2.7,Al Horford,...,"June 3, 1986",University of Florida,7,205.0,C,ATL,110.25,26.234384,Jarrett Jack,187.5
3,"JAN 30, 2015 - TOR @ BKN",6,4,00:11:31,20.9,missed,"Jack, Jarrett",101127,4.3,Greivis Vasquez,...,"January 16, 1987",University of Maryland,4,195.0,PG,TOR,97.65,25.680473,Jarrett Jack,187.5
4,"JAN 30, 2015 - TOR @ BKN",7,4,00:10:04,25.7,missed,"Jack, Jarrett",101127,3.2,Greivis Vasquez,...,"January 16, 1987",University of Maryland,4,195.0,PG,TOR,97.65,25.680473,Jarrett Jack,187.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4433,"JAN 10, 2015 - POR vs. ORL",1,4,00:11:17,24.3,missed,"Marble, Devyn",203906,6.7,Steve Blake,...,"February 26, 1980",University of Maryland,11,187.5,PG,POR,77.40,22.016000,Devyn Marble,195.0
4434,"MAR 02, 2015 - MIN vs. LAC",13,4,00:11:22,7.2,missed,"Hamilton, Jordan",202706,1.0,Andrew Wiggins,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jordan Hamilton,197.5
4435,"MAR 02, 2015 - MIN vs. LAC",14,4,00:10:47,14.8,missed,"Hamilton, Jordan",202706,4.3,Andrew Wiggins,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Jordan Hamilton,197.5
4436,"FEB 25, 2015 - MIN vs. WAS",6,4,00:10:27,12.8,made,"Wall, John",202322,4.5,Gorgui Dieng,...,"January 18, 1990",University of Louisville,1,207.5,C,MIN,108.45,25.187981,John Wall,NaN
4437,"DEC 16, 2014 - MIN @ WAS",4,4,00:10:29,5.2,missed,"Wall, John",202322,2.0,Mo Williams,...,"December 19, 1982",University of Alabama,11,182.5,PG,CHA,89.10,26.751736,John Wall,NaN

In [85]:
merged_df2[['player_name', 'CD NAME', 'Height (CD)']]

          player_name          CD NAME  Height (CD)
0       Brian Roberts     Jarrett Jack        187.5
1     Leandro Barbosa     Jarrett Jack        187.5
2          Al Horford     Jarrett Jack        187.5
3     Greivis Vasquez     Jarrett Jack        187.5
4     Greivis Vasquez     Jarrett Jack        187.5
...               ...              ...          ...
4433      Steve Blake     Devyn Marble        195.0
4434   Andrew Wiggins  Jordan Hamilton        197.5
4435   Andrew Wiggins  Jordan Hamilton        197.5
4436     Gorgui Dieng        John Wall          NaN
4437      Mo Williams        John Wall          NaN

[4438 rows x 3 columns]

In [21]:
shot_made_heights = merged_df.loc[(merged_df["SHOT_RESULT"]== "made")&(merged_df["CLOSE_DEF_DIST"])].mean()['Height']
shot_made_heights
#The average height of the player who made the shot is 197cm
#i still need the defender height

197.52701843610936