In [1]:
#import dependencies
import json
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
#create file direcotry
file_dir = '/Users/devingreenzang/desktop/challenges/Final/NBA_Final-Project/'

In [3]:
#import the csv files
shot_log = pd.read_csv(f'{file_dir}shot_logs.csv')
stats = pd.read_csv(f'{file_dir}players_stats.csv')

In [ ]:
#list the column names
#shot_log.columns.to_list()

In [ ]:
#clean the data
#stats.columns.to_list()

In [ ]:
# Example: MAR 04, 2015 - CHA @ BKN
# Split MATCHUP on '-' (MAR 04, 2015) - CHA @ BKN
# Store first part (MAR 04,2015 ) in new column shots_df['DATE']
# Convert to date:
# shots_df['DATE'] = pd.to_datetime(shots_df['DATE'])


# Once you have DATE and TIME (from GAME_CLOCK column), concatenate the two
# Convert the resulting column into datetime by using pd.to_datetime

In [4]:
#import the csv files
shot_log = pd.read_csv(f'{file_dir}shot_logs.csv')
stats = pd.read_csv(f'{file_dir}players_stats.csv')

#show cleaned stats data
stats.columns.to_list()
#turn stats into a dataframe
stats_df = pd.DataFrame(stats)
shots_df = pd.DataFrame(shot_log)

#clean stats
stats = stats.drop(columns=['Birth_Place','Birthdate','Collage', 'BMI' ])

shots = shots_df.drop(columns = ['GAME_ID',
 #'MATCHUP',
 'LOCATION',
 'W',
 'FINAL_MARGIN',
 'SHOT_CLOCK',
 'DRIBBLES',
 'TOUCH_TIME',
 'PTS_TYPE',
 'FGM',
 'PTS'])

In [5]:
# Extracting date from MATCHUP column
shots['DATE'] = shots['MATCHUP'].str.split('-', expand = True)[0]

# Converting to datetime object
shots['DATE'] = pd.to_datetime(shots['DATE'])

# Turning gametime into datetime object
shots['GAME_CLOCK'] = pd.to_datetime(shots['GAME_CLOCK'], format = '%M:%S').dt.time 

# Adding date and time columns together
shots['TIMESTAMP'] = shots['DATE'].astype(str) + ' ' + shots['GAME_CLOCK'].astype(str)

# Converting to datetime object
shots['TIMESTAMP'] = pd.to_datetime(shots['TIMESTAMP'])

In [6]:
#make a shot list showing the player id column for all shots taken in period 4 in the last two minutes of regulation
fourth_data = shots[(shots['PERIOD'] == 4) & (shots['TIMESTAMP'].dt.strftime('%H:%M:%S').between('00:10:00','00:12:00'))]
fourth_data
#shots_df.head()

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,player_id,DATE,TIMESTAMP
6,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,brian roberts,203148,2015-03-04,2015-03-04 00:10:15
11,"MAR 03, 2015 - CHA vs. LAL",3,4,00:11:32,14.6,made,"Lin, Jeremy",202391,1.8,brian roberts,203148,2015-03-03,2015-03-03 00:11:32
17,"FEB 27, 2015 - CHA @ BOS",4,4,00:10:55,25.6,missed,"Crowder, Jae",203109,5.1,brian roberts,203148,2015-02-27,2015-02-27 00:10:55
18,"FEB 27, 2015 - CHA @ BOS",5,4,00:10:29,24.2,made,"Thomas, Isaiah",202738,11.1,brian roberts,203148,2015-02-27,2015-02-27 00:10:29
25,"FEB 25, 2015 - CHA @ CHI",7,4,00:10:13,24.6,made,"Noah, Joakim",201149,6.0,brian roberts,203148,2015-02-25,2015-02-25 00:10:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128048,"NOV 05, 2014 - BKN vs. MIN",6,4,00:11:01,20.2,made,"Brewer, Corey",201147,11.1,jarrett jack,101127,2014-11-05,2014-11-05 00:11:01
128055,"NOV 03, 2014 - BKN vs. OKC",6,4,00:11:22,5.1,missed,"Jackson, Reggie",202704,2.1,jarrett jack,101127,2014-11-03,2014-11-03 00:11:22
128058,"NOV 01, 2014 - BKN @ DET",3,4,00:10:57,18.2,made,"Augustin, D.J.",201571,1.1,jarrett jack,101127,2014-11-01,2014-11-01 00:10:57
128065,"OCT 29, 2014 - BKN @ BOS",6,4,00:11:28,0.6,made,"Turner, Evan",202323,0.6,jarrett jack,101127,2014-10-29,2014-10-29 00:11:28
128066,"OCT 29, 2014 - BKN @ BOS",7,4,00:11:10,16.9,made,"Thornton, Marcus",201977,4.2,jarrett jack,101127,2014-10-29,2014-10-29 00:11:10

In [7]:
fourth_data.to_json(r'{file_dir}\fourthqtr.json')

In [8]:
#display(fourth_data)

In [9]:
#filter the data fram by defender distance
fourth_data.sort_values(by=['CLOSE_DEF_DIST'])

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,player_id,DATE,TIMESTAMP
72032,"MAR 01, 2015 - PHI @ IND",2,4,00:11:36,4.3,missed,"Scola, Luis",2449,0.0,jerami grant,203924,2015-03-01,2015-03-01 00:11:36
102588,"DEC 07, 2014 - OKC @ DET",2,4,00:10:14,1.0,missed,"Jerebko, Jonas",201973,0.0,nick collison,2555,2014-12-07,2014-12-07 00:10:14
48584,"NOV 15, 2014 - IND @ CHI",7,4,00:10:28,3.5,missed,"Gibson, Taj",201959,0.0,chris copeland,203142,2014-11-15,2014-11-15 00:10:28
99514,"DEC 11, 2014 - SAC vs. HOU",8,4,00:11:47,2.3,made,"Harden, James",201935,0.0,derrick williams,202682,2014-12-11,2014-12-11 00:11:47
98631,"NOV 26, 2014 - SAC @ HOU",3,4,00:11:14,1.2,missed,"Papanikolaou, Kostas",203123,0.0,carl landry,201171,2014-11-26,2014-11-26 00:11:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35214,"FEB 20, 2015 - TOR @ ATL",7,4,00:10:48,22.6,made,"Schroder, Dennis",203471,20.3,patrick patterson,202335,2015-02-20,2015-02-20 00:10:48
113591,"FEB 07, 2015 - CHI @ NOP",14,4,00:10:41,3.8,made,"Fredette, Jimmer",202690,22.7,jimmy butler,202710,2015-02-07,2015-02-07 00:10:41
78633,"OCT 31, 2014 - MIL vs. PHI",5,4,00:11:18,2.9,made,"McDaniels, KJ",203909,28.0,jerryd bayless,201573,2014-10-31,2014-10-31 00:11:18
114507,"DEC 12, 2014 - CHI vs. POR",9,4,00:10:02,4.6,made,"Matthews, Wesley",202083,36.0,nikola mirotic,202703,2014-12-12,2014-12-12 00:10:02
80109,"MAR 04, 2015 - MEM @ HOU",7,4,00:10:23,1.9,made,"Ariza, Trevor",2772,46.8,tony allen,2754,2015-03-04,2015-03-04 00:10:23

In [10]:
shots_made = fourth_data[(fourth_data['SHOT_RESULT'] == 'made')]
shots_missed = fourth_data[(fourth_data['SHOT_RESULT'] == 'missed')]
#shots_made.count 1993/ 4539 rows left 44% of shots made in 4th qtr with two minutes left
#shots_missed.count 2546 /4539 rows 56% of shots were missed in the 4th qtr with two minutes left

In [11]:
#the average distance of the closest defender on the shot being made
shots_made['CLOSE_DEF_DIST'].mean()

4.124786753637739

In [12]:
#the average distance of the closest defender on the shot missed
shots_missed['CLOSE_DEF_DIST'].mean()

4.1143362136685075

In [13]:
#display(fourth_data)
#as we can see the shot distance of the closes defender is negligible 
#now we have to include the distance and the player heights to our analysis

In [14]:
#merging the stats_df to our fourth_data dataframe
#stats_df.dtypes

In [15]:
fourth_data['player_name'] = fourth_data['player_name'].str.title()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
#merge data frames so you can get the heights of players, also need CLOSEST_DEFENDER ON Name
merged_df=pd.merge(fourth_data, stats_df, how='left', left_on='player_name', right_on='Name')
display(merged_df)

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,...,Age,Birth_Place,Birthdate,Collage,Experience,Height,Pos,Team,Weight,BMI
0,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
1,"MAR 03, 2015 - CHA vs. LAL",3,4,00:11:32,14.6,made,"Lin, Jeremy",202391,1.8,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
2,"FEB 27, 2015 - CHA @ BOS",4,4,00:10:55,25.6,missed,"Crowder, Jae",203109,5.1,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
3,"FEB 27, 2015 - CHA @ BOS",5,4,00:10:29,24.2,made,"Thomas, Isaiah",202738,11.1,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
4,"FEB 25, 2015 - CHA @ CHI",7,4,00:10:13,24.6,made,"Noah, Joakim",201149,6.0,Brian Roberts,...,30.0,us,"December 3, 1985",University of Dayton,2,182.5,PG,CHA,77.85,23.373991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4534,"NOV 05, 2014 - BKN vs. MIN",6,4,00:11:01,20.2,made,"Brewer, Corey",201147,11.1,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000
4535,"NOV 03, 2014 - BKN vs. OKC",6,4,00:11:22,5.1,missed,"Jackson, Reggie",202704,2.1,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000
4536,"NOV 01, 2014 - BKN @ DET",3,4,00:10:57,18.2,made,"Augustin, D.J.",201571,1.1,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000
4537,"OCT 29, 2014 - BKN @ BOS",6,4,00:11:28,0.6,made,"Turner, Evan",202323,0.6,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000
4538,"OCT 29, 2014 - BKN @ BOS",7,4,00:11:10,16.9,made,"Thornton, Marcus",201977,4.2,Jarrett Jack,...,32.0,us,"October 28, 1983",Georgia Institute of Technology,9,187.5,PG,NJN,90.00,25.600000

In [17]:
merged_df.rename({'height':'Shooter Height'}, inplace = True)

In [18]:
merged_df['CD Last Name'] = merged_df['CLOSEST_DEFENDER'].str.split(',', expand=True)[0]
merged_df['CD First Name'] = merged_df['CLOSEST_DEFENDER'].str.split(',', expand=True)[1]

In [19]:
# Reformatting closest defender name so it matches name in stats df
merged_df['CD NAME'] = merged_df['CD First Name'].str.lstrip() + ' ' + merged_df['CD Last Name']
merged_df['CD NAME']

0          Jarrett Jack
1            Jeremy Lin
2           Jae Crowder
3         Isaiah Thomas
4           Joakim Noah
             ...
4534       Corey Brewer
4535     Reggie Jackson
4536      D.J. Augustin
4537        Evan Turner
4538    Marcus Thornton
Name: CD NAME, Length: 4539, dtype: object

In [20]:
stats_df[stats_df['Name'] == 'John Wall']['Height']

243   NaN
Name: Height, dtype: float64

In [21]:
#merged_df['Closest Defender Height'] = 

merged_df2 = merged_df.merge(stats_df[['Name', 'Height']], left_on = 'CD NAME', right_on = 'Name', suffixes= [' (Shooter)', ' (CD)'])

#merged_df2[['player_name', 'CD NAME', 'Height']]

merged_df2

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,...,Height (Shooter),Pos,Team,Weight,BMI,CD Last Name,CD First Name,CD NAME,Name (CD),Height (CD)
0,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,Brian Roberts,...,182.5,PG,CHA,77.85,23.373991,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
1,"NOV 13, 2014 - GSW vs. BKN",7,4,00:11:32,4.7,made,"Jack, Jarrett",101127,2.5,Leandro Barbosa,...,187.5,SG,GSW,87.30,24.832000,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
2,"DEC 05, 2014 - ATL @ BKN",10,4,00:10:37,6.5,made,"Jack, Jarrett",101127,2.7,Al Horford,...,205.0,C,ATL,110.25,26.234384,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
3,"JAN 30, 2015 - TOR @ BKN",6,4,00:11:31,20.9,missed,"Jack, Jarrett",101127,4.3,Greivis Vasquez,...,195.0,PG,TOR,97.65,25.680473,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
4,"JAN 30, 2015 - TOR @ BKN",7,4,00:10:04,25.7,missed,"Jack, Jarrett",101127,3.2,Greivis Vasquez,...,195.0,PG,TOR,97.65,25.680473,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4433,"JAN 10, 2015 - POR vs. ORL",1,4,00:11:17,24.3,missed,"Marble, Devyn",203906,6.7,Steve Blake,...,187.5,PG,POR,77.40,22.016000,Marble,Devyn,Devyn Marble,Devyn Marble,195.0
4434,"MAR 02, 2015 - MIN vs. LAC",13,4,00:11:22,7.2,missed,"Hamilton, Jordan",202706,1.0,Andrew Wiggins,...,NaN,NaN,NaN,NaN,NaN,Hamilton,Jordan,Jordan Hamilton,Jordan Hamilton,197.5
4435,"MAR 02, 2015 - MIN vs. LAC",14,4,00:10:47,14.8,missed,"Hamilton, Jordan",202706,4.3,Andrew Wiggins,...,NaN,NaN,NaN,NaN,NaN,Hamilton,Jordan,Jordan Hamilton,Jordan Hamilton,197.5
4436,"FEB 25, 2015 - MIN vs. WAS",6,4,00:10:27,12.8,made,"Wall, John",202322,4.5,Gorgui Dieng,...,207.5,C,MIN,108.45,25.187981,Wall,John,John Wall,John Wall,NaN
4437,"DEC 16, 2014 - MIN @ WAS",4,4,00:10:29,5.2,missed,"Wall, John",202322,2.0,Mo Williams,...,182.5,PG,CHA,89.10,26.751736,Wall,John,John Wall,John Wall,NaN

In [22]:
merged_df2[['player_name', 'CD NAME', 'Height (CD)']]

          player_name          CD NAME  Height (CD)
0       Brian Roberts     Jarrett Jack        187.5
1     Leandro Barbosa     Jarrett Jack        187.5
2          Al Horford     Jarrett Jack        187.5
3     Greivis Vasquez     Jarrett Jack        187.5
4     Greivis Vasquez     Jarrett Jack        187.5
...               ...              ...          ...
4433      Steve Blake     Devyn Marble        195.0
4434   Andrew Wiggins  Jordan Hamilton        197.5
4435   Andrew Wiggins  Jordan Hamilton        197.5
4436     Gorgui Dieng        John Wall          NaN
4437      Mo Williams        John Wall          NaN

[4438 rows x 3 columns]

In [23]:
shot_made_heights = merged_df.loc[(merged_df["SHOT_RESULT"]== "made")&(merged_df["CLOSE_DEF_DIST"])].mean()['Height']
shot_made_heights
#The average height of the player who made the shot is 197cm
#i still need the defender height

197.52701843610936

In [24]:
team_df = pd.read_csv(f'{file_dir}sportsref_download.csv')

In [25]:
team_df['Team'] = team_df['Team'].replace(['Golden State Warriors*','Los Angeles Clippers*',
                                           'San Antonio Spurs*','Atlanta Hawks*','Portland Trail Blazers*',
                                          'Cleveland Cavaliers*','Houston Rockets*','Memphis Grizzlies*',
                                          'Dallas Mavericks*','Chicago Bulls*','Oklahoma City Thunder','Toronto Raptors*',
                                          'New Orleans Pelicans*','Utah Jazz','Washington Wizards*',
                                          'Milwaukee Bucks*','Indiana Pacers','Phoenix Suns','Boston Celtics*',
                                          'Detroit Pistons','Miami Heat','Denver Nuggets','Sacramento Kings',
                                          'Brooklyn Nets*','Charlotte Hornets','Orlando Magic','Los Angeles Lakers',
                                          'Minnesota Timberwolves','Philadelphia 76ers','New York Knicks']
                                          
                                          
                                          
                                          ,['GSW','LAC','SAS','ATL','POR','CLE','HOU','MEM','DAL','CHI','OKC','TOR','NOP'
                                           ,'UTA','WAS','MIL','IND','PHO','BOS','DET','MIA','DEN','SAC','BKN',
                                           'CHA','ORL','LAL','MIN','PHI','NYK'])
team_df

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Arena,Attend.,Attend./G
0,1.0,GSW,26.6,67.0,15.0,65.0,17.0,10.10,-0.09,10.01,...,13.1,24.1,0.184,0.470,14.3,74.5,0.217,Oracle Arena,"803,436","19,596"
1,2.0,LAC,28.8,56.0,26.0,58.0,24.0,6.59,0.22,6.80,...,11.6,22.8,0.215,0.493,13.2,75.7,0.231,STAPLES Center,"785,892","19,168"
2,3.0,SAS,29.8,55.0,27.0,58.0,24.0,6.20,0.14,6.34,...,13.1,23.4,0.200,0.484,13.3,77.3,0.190,AT&T Center,"762,855","18,606"
3,4.0,ATL,27.8,60.0,22.0,56.0,26.0,5.43,-0.68,4.75,...,13.5,21.4,0.201,0.492,14.9,73.4,0.185,Philips Arena,"713,909","17,412"
4,5.0,POR,27.0,51.0,31.0,53.0,29.0,4.23,0.18,4.41,...,12.6,24.2,0.180,0.476,11.3,76.2,0.182,Moda Center,"798,368","19,472"
5,6.0,CLE,26.9,53.0,29.0,53.0,29.0,4.48,-0.40,4.08,...,13.4,26.8,0.216,0.502,12.6,74.7,0.177,Quicken Loans Arena,"843,042","20,562"
6,7.0,HOU,27.6,56.0,26.0,50.0,32.0,3.44,0.38,3.82,...,15.0,26.8,0.223,0.486,14.6,72.9,0.208,Toyota Center,"747,412","18,230"
7,8.0,MEM,29.6,55.0,27.0,50.0,32.0,3.24,0.38,3.62,...,12.6,24.7,0.214,0.492,14.5,75.3,0.183,FedEx Forum,"710,502","17,329"
8,9.0,DAL,29.9,50.0,32.0,49.0,33.0,2.90,0.46,3.36,...,11.9,23.6,0.197,0.503,14.7,72.2,0.204,American Airlines Center,"827,702","20,188"
9,10.0,CHI,28.8,50.0,32.0,50.0,32.0,3.00,-0.46,2.54,...,12.9,27.0,0.238,0.473,11.3,74.4,0.182,United Center,"886,612","21,625"
10,11.0,OKC,25.4,45.0,37.0,47.0,35.0,2.18,0.28,2.47,...,13.1,28.9,0.214,0.489,12.4,75.6,0.213,Chesapeake Energy Arena,"746,323","18,203"
11,12.0,TOR,26.1,49.0,33.0,49.0,33.0,3.07,-0.62,2.45,...,12.0,25.6,0.232,0.506,13.4,73.3,0.208,Air Canada Centre,"809,824","19,752"
12,13.0,NOP,25.3,45.0,37.0,43.0,39.0,0.79,0.34,1.13,...,12.5,27.1,0.198,0.496,11.7,75.1,0.195,Smoothie King Center,"683,757","16,677"
13,14.0,UTA,23.4,38.0,44.0,42.0,40.0,0.22,0.49,0.71,...,14.6,29.1,0.214,0.491,12.8,76.3,0.199,EnergySolutions Arena,"772,059","18,831"
14,15.0,WAS,28.6,46.0,36.0,43.0,39.0,0.72,-0.55,0.17,...,14.0,24.9,0.192,0.481,12.9,77.3,0.210,Verizon Center,"747,796","18,239"
15,16.0,MIL,24.6,41.0,41.0,42.0,40.0,0.43,-0.52,-0.09,...,15.5,25.4,0.195,0.487,15.9,73.3,0.221,BMO Harris Bradley Center,"593,910","14,813"
16,17.0,IND,28.3,38.0,44.0,42.0,40.0,0.28,-0.51,-0.23,...,13.1,24.0,0.201,0.478,12.0,77.9,0.217,Bankers Life Fieldhouse,"691,434","16,864"
17,18.0,PHO,25.7,39.0,43.0,38.0,44.0,-0.90,0.52,-0.38,...,13.7,24.5,0.191,0.497,14.0,73.5,0.221,US Airways Center,"693,862","16,923"
18,19.0,BOS,25.0,40.0,42.0,41.0,41.0,0.16,-0.56,-0.40,...,12.5,24.7,0.176,0.494,13.7,75.0,0.208,TD Garden,"721,350","17,594"
19,20.0,DET,25.9,32.0,50.0,38.0,44.0,-1.00,-0.39,-1.39,...,12.3,27.7,0.184,0.502,13.2,75.0,0.192,The Palace of Auburn Hills,"625,917","15,266"
20,21.0,MIA,28.5,37.0,45.0,33.0,49.0,-2.60,-0.32,-2.92,...,14.5,23.2,0.227,0.505,14.2,73.4,0.213,AmericanAirlines Arena,"808,223","19,713"
21,22.0,DEN,26.4,30.0,52.0,31.0,51.0,-3.55,0.48,-3.07,...,12.7,26.6,0.204,0.504,13.0,74.7,0.239,Pepsi Center,"602,707","14,700"
22,23.0,SAC,26.0,29.0,53.0,31.0,51.0,-3.71,0.64,-3.07,...,14.8,26.5,0.276,0.507,11.8,75.2,0.200,Sleep Train Arena,"680,049","16,587"
23,24.0,BKN,28.6,38.0,44.0,33.0,49.0,-2.88,-0.25,-3.13,...,13.0,23.9,0.200,0.506,12.9,73.7,0.185,Barclays Center,"698,529","17,037"
24,25.0,CHA,26.0,33.0,49.0,32.0,50.0,-3.17,-0.27,-3.44,...,11.2,22.1,0.202,0.487,12.0,79.3,0.188,Time Warner Cable Arena,"704,886","17,192"
25,26.0,ORL,24.3,25.0,57.0,25.0,57.0,-5.72,-0.15,-5.87,...,14.0,23.1,0.168,0.514,13.6,76.0,0.210,Amway Center,"688,194","16,785"
26,27.0,LAL,27.0,21.0,61.0,23.0,59.0,-6.84,0.67,-6.17,...,12.1,25.4,0.204,0.518,12.1,76.3,0.231,STAPLES Center,"768,244","18,738"
27,28.0,MIN,24.4,16.0,66.0,19.0,63.0,-8.79,0.79,-8.00,...,13.7,26.6,0.240,0.537,13.9,71.6,0.187,Target Center,"595,652","14,416"
28,29.0,PHI,23.2,18.0,64.0,18.0,64.0,-8.98,-0.07,-9.04,...,16.0,25.5,0.195,0.497,15.2,73.0,0.225,Wells Fargo Center,"571,572","13,941"
29,30.0,NYK,26.9,17.0,65.0,17.0,65.0,-9.32,-0.18,-9.50,...,14.0,24.5,0.180,0.512,13.3,73.1,0.234,Madison Square Garden (IV),"812,292","19,812"
30,NaN,League Average,26.8,NaN,NaN,41.0,41.0,0.00,0.00,0.00,...,13.3,25.1,0.205,0.496,13.3,74.9,0.205,NaN,"729,877","17,814"
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
merged_df2

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,...,Height (Shooter),Pos,Team,Weight,BMI,CD Last Name,CD First Name,CD NAME,Name (CD),Height (CD)
0,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,Brian Roberts,...,182.5,PG,CHA,77.85,23.373991,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
1,"NOV 13, 2014 - GSW vs. BKN",7,4,00:11:32,4.7,made,"Jack, Jarrett",101127,2.5,Leandro Barbosa,...,187.5,SG,GSW,87.30,24.832000,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
2,"DEC 05, 2014 - ATL @ BKN",10,4,00:10:37,6.5,made,"Jack, Jarrett",101127,2.7,Al Horford,...,205.0,C,ATL,110.25,26.234384,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
3,"JAN 30, 2015 - TOR @ BKN",6,4,00:11:31,20.9,missed,"Jack, Jarrett",101127,4.3,Greivis Vasquez,...,195.0,PG,TOR,97.65,25.680473,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
4,"JAN 30, 2015 - TOR @ BKN",7,4,00:10:04,25.7,missed,"Jack, Jarrett",101127,3.2,Greivis Vasquez,...,195.0,PG,TOR,97.65,25.680473,Jack,Jarrett,Jarrett Jack,Jarrett Jack,187.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4433,"JAN 10, 2015 - POR vs. ORL",1,4,00:11:17,24.3,missed,"Marble, Devyn",203906,6.7,Steve Blake,...,187.5,PG,POR,77.40,22.016000,Marble,Devyn,Devyn Marble,Devyn Marble,195.0
4434,"MAR 02, 2015 - MIN vs. LAC",13,4,00:11:22,7.2,missed,"Hamilton, Jordan",202706,1.0,Andrew Wiggins,...,NaN,NaN,NaN,NaN,NaN,Hamilton,Jordan,Jordan Hamilton,Jordan Hamilton,197.5
4435,"MAR 02, 2015 - MIN vs. LAC",14,4,00:10:47,14.8,missed,"Hamilton, Jordan",202706,4.3,Andrew Wiggins,...,NaN,NaN,NaN,NaN,NaN,Hamilton,Jordan,Jordan Hamilton,Jordan Hamilton,197.5
4436,"FEB 25, 2015 - MIN vs. WAS",6,4,00:10:27,12.8,made,"Wall, John",202322,4.5,Gorgui Dieng,...,207.5,C,MIN,108.45,25.187981,Wall,John,John Wall,John Wall,NaN
4437,"DEC 16, 2014 - MIN @ WAS",4,4,00:10:29,5.2,missed,"Wall, John",202322,2.0,Mo Williams,...,182.5,PG,CHA,89.10,26.751736,Wall,John,John Wall,John Wall,NaN

In [28]:
team_merge = merged_df2.merge(team_df, left_on='Team', right_on='Team')
team_merge.dtypes

MATCHUP         object
SHOT_NUMBER      int64
PERIOD           int64
GAME_CLOCK      object
SHOT_DIST      float64
                ...
DRB%           float64
FT/FGA.1       float64
Arena           object
Attend.         object
Attend./G       object
Length: 79, dtype: object

In [29]:
team_merge.head()

,MATCHUP,SHOT_NUMBER,PERIOD,GAME_CLOCK,SHOT_DIST,SHOT_RESULT,CLOSEST_DEFENDER,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,player_name,...,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Arena,Attend.,Attend./G
0,"MAR 04, 2015 - CHA @ BKN",7,4,00:10:15,20.7,missed,"Jack, Jarrett",101127,6.1,Brian Roberts,...,11.2,22.1,0.202,0.487,12.0,79.3,0.188,Time Warner Cable Arena,"704,886","17,192"
1,"MAR 03, 2015 - CHA vs. LAL",3,4,00:11:32,14.6,made,"Lin, Jeremy",202391,1.8,Brian Roberts,...,11.2,22.1,0.202,0.487,12.0,79.3,0.188,Time Warner Cable Arena,"704,886","17,192"
2,"FEB 27, 2015 - CHA @ BOS",4,4,00:10:55,25.6,missed,"Crowder, Jae",203109,5.1,Brian Roberts,...,11.2,22.1,0.202,0.487,12.0,79.3,0.188,Time Warner Cable Arena,"704,886","17,192"
3,"NOV 17, 2014 - CHA vs. DAL",5,4,00:10:34,2.0,missed,"Crowder, Jae",203109,2.2,Bismack Biyombo,...,11.2,22.1,0.202,0.487,12.0,79.3,0.188,Time Warner Cable Arena,"704,886","17,192"
4,"FEB 27, 2015 - CHA @ BOS",5,4,00:10:29,24.2,made,"Thomas, Isaiah",202738,11.1,Brian Roberts,...,11.2,22.1,0.202,0.487,12.0,79.3,0.188,Time Warner Cable Arena,"704,886","17,192"

In [30]:
team_merge.to_csv('Team_merge.csv',index=False)